<a href="https://colab.research.google.com/github/Adithyasanthosh2002/python-exercise/blob/main/python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello , adithya")

hello , adithya

In [2]:
print("hii , adithya")
# this is his name

hii , adithya

In [4]:
x = "5"
y = ("adithya")
# this is adithya
print(x)
print(y)

5
adithya

In [7]:
Name = "adithya"
Adress = " kollam \nkerala"
print(Name)
print(Adress)

adithya
 kollam
kerala

In [17]:
name = input("enter your name ")
age  = int(input("enter your age "))
print(name)
print(age)
type(age)

enter your name adithya
enter your age 22
adithya
22

int

In [24]:
m1 = int(input("enter mark"))
m2 = int(input("enter mark"))
print(m1)
print(m2)
#print(m1>m2)
if(m1>m2):
  print("m1 has higher mark",)
else:
  print("m2 has higher mark",)

enter mark22
enter mark33
22
33
m2 has higher mark

In [26]:
n1 = int(input("enter number"))
n2 = int(input("enter number"))
sum = n1+n2
print("sum of numbers",n1,"and",n2,"=",sum)
print(n1+n2)

enter number22
enter number45
sum of numbers 22 and 45 = 67
67

In [27]:
sum(n1,n2)

TypeError: 'int' object is not callable

In [2]:
adithya = int(input("enter your weight"))
arun = int(input("enter your weight"))
print(adithya)
print(arun)
if(adithya>arun):
  print('adithya has higher weight')
else:
  print('arun has higher weight')

enter your weight74
enter your weight70
74
70
adithya has higher weight